Bottleneck==1.3.2
certifi==2021.10.8
cycler
fonttools==4.25.0
HARK-TF-PARSER
importlib-metadata==4.10.0
kiwisolver
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
munkres==1.1.4
numexpr
numpy
olefile
packaging
pandas==1.3.4
pdoc3==0.10.0
Pillow==8.4.0
pyparsing
python-dateutil
pytz==2021.3
scipy
seaborn
sip
six
tornado
zipp==3.6.0
